/* stylelint-disable at-rule-no-unknown */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --radius: 0.5rem; 
  }

@layer base {
  .theme {
        --animate-blink-cursor: blink-cursor 1.2s step-end infinite; 
    } 
}

@layer base {
  * {
    @apply border-border; 
    }
  body {
    @apply bg-background text-foreground; 
    } 
}

@theme inline {
  @keyframes blink-cursor {
  0%, 49% {
    opacity: 1; 
        }
  50%, 100% {
    opacity: 0; 
        } 
    } 
}